<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>New ArchiMate View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>New ArchiMate View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-beeb355ba16b4262958a82eeca1e499f.png" alt="New ArchiMate View" usemap="#id-beeb355ba16b4262958a82eeca1e499fmap"/>
			   <map name="id-beeb355ba16b4262958a82eeca1e499fmap">
				  		<area shape="rect" coords="10,646,130,701" href="../elements/id-0728032345b34128a40d4c364df27811.html"  target="element">
				  		<area shape="rect" coords="36,286,156,341" href="../elements/id-82d5e27166a2428399477959673e96c7.html"  target="element">
				  		<area shape="rect" coords="36,216,156,271" href="../elements/id-858d63f908c14602be8248649651a931.html"  target="element">
				  		<area shape="rect" coords="1018,322,1138,377" href="../elements/id-7a6f2275052841eeb92b3cc8ec44e0c8.html"  target="element">
				  		<area shape="rect" coords="213,694,333,749" href="../elements/id-2e713a9135f44af499a2bafef723b7ca.html"  target="element">
				  		<area shape="rect" coords="212,610,332,665" href="../elements/id-bed47b3369104b37923aff26e00967e2.html"  target="element">
				  		<area shape="rect" coords="659,1042,779,1097" href="../elements/id-9f4177c9869c41e9af66d296c7b0c835.html"  target="element">
				  		<area shape="rect" coords="659,1126,779,1181" href="../elements/id-026b23486aef4d558926aee8d2c66a3b.html"  target="element">
				  		<area shape="rect" coords="213,1126,333,1181" href="../elements/id-ec37188b632a4fb7a74cda01b708fb4c.html"  target="element">
				  		<area shape="rect" coords="213,1042,333,1097" href="../elements/id-cdc84ca28dfd4996a9e1eae230165638.html"  target="element">
				  		<area shape="rect" coords="213,958,333,1013" href="../elements/id-6b2536562417489c89e934d275ff60d5.html"  target="element">
				  		<area shape="rect" coords="213,874,333,929" href="../elements/id-7d2a20d0de2e40ccbb36489c888a5c1d.html"  target="element">
				  		<area shape="rect" coords="213,790,333,845" href="../elements/id-dfd8dad3ab1441d1ae5d162e62e2265c.html"  target="element">
				  		<area shape="rect" coords="659,322,779,377" href="../elements/id-fd4926f3204a466cae33516a8ce92b54.html"  target="element">
				  		<area shape="rect" coords="442,1126,562,1181" href="../elements/id-0d0c08752dc94d438a4ddbd30c3b5b58.html"  target="element">
				  		<area shape="rect" coords="442,1042,562,1097" href="../elements/id-5683367f05564d75a0eb4ec8ff54cbe8.html"  target="element">
				  		<area shape="rect" coords="442,958,562,1013" href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html"  target="element">
				  		<area shape="rect" coords="862,322,982,377" href="../elements/id-c38d54aab2394152aad7663dc82197d6.html"  target="element">
				          <area shape="rect" coords="2506,1234,2691,1314" href="../objects/id-3d7beb30240046a3817addfea6ad8c58.html" target="element" >
				  		<area shape="rect" coords="442,658,562,713" href="../elements/id-f9efb587c0e14bec9cbd174b27733fc3.html"  target="element">
				  		<area shape="rect" coords="212,526,332,581" href="../elements/id-8ed2b648f4c049568732f0848ff9fac7.html"  target="element">
				  		<area shape="rect" coords="213,448,333,503" href="../elements/id-717c56d13144489a8921c99c6766af4e.html"  target="element">
				  		<area shape="rect" coords="442,490,562,545" href="../elements/id-097f20c296424764885a67060484dfcc.html"  target="element">
				  		<area shape="rect" coords="442,322,562,377" href="../elements/id-39243ff4e41e4c038642769bde663e3e.html"  target="element">
				  		<area shape="rect" coords="212,364,332,419" href="../elements/id-db5984b5ec7b4b4aaf75e3399aee817c.html"  target="element">
				  		<area shape="rect" coords="213,286,333,341" href="../elements/id-970f619242d94938a37046310be51de3.html"  target="element">
				  		<area shape="rect" coords="442,214,562,269" href="../elements/id-8b34fdbda47d44bea3cde6cc02e2aee8.html"  target="element">
				  		<area shape="rect" coords="442,106,562,161" href="../elements/id-453dd18e022f4a05ae18a52172c3d400.html"  target="element">
				  		<area shape="rect" coords="442,10,562,65" href="../elements/id-a69e2ecdb5634dd4977b642050a3f4bf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a69e2ecdb5634dd4977b642050a3f4bf.html" target="element"> GitHub </a> </td>
											    <td> <a href="../elements/id-a69e2ecdb5634dd4977b642050a3f4bf.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-453dd18e022f4a05ae18a52172c3d400.html" target="element"> AWS CloudFormation Template </a> </td>
											    <td> <a href="../elements/id-453dd18e022f4a05ae18a52172c3d400.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b34fdbda47d44bea3cde6cc02e2aee8.html" target="element"> Store Artifact </a> </td>
											    <td> <a href="../elements/id-8b34fdbda47d44bea3cde6cc02e2aee8.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-970f619242d94938a37046310be51de3.html" target="element"> Create Stage Artifact </a> </td>
											    <td> <a href="../elements/id-970f619242d94938a37046310be51de3.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db5984b5ec7b4b4aaf75e3399aee817c.html" target="element"> Deploy Stage </a> </td>
											    <td> <a href="../elements/id-db5984b5ec7b4b4aaf75e3399aee817c.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39243ff4e41e4c038642769bde663e3e.html" target="element"> Initialize Stage </a> </td>
											    <td> <a href="../elements/id-39243ff4e41e4c038642769bde663e3e.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-097f20c296424764885a67060484dfcc.html" target="element"> Check Changes </a> </td>
											    <td> <a href="../elements/id-097f20c296424764885a67060484dfcc.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-717c56d13144489a8921c99c6766af4e.html" target="element"> Stage Change Set </a> </td>
											    <td> <a href="../elements/id-717c56d13144489a8921c99c6766af4e.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ed2b648f4c049568732f0848ff9fac7.html" target="element"> Check Change Set </a> </td>
											    <td> <a href="../elements/id-8ed2b648f4c049568732f0848ff9fac7.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9efb587c0e14bec9cbd174b27733fc3.html" target="element"> Valudate Templates </a> </td>
											    <td> <a href="../elements/id-f9efb587c0e14bec9cbd174b27733fc3.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-3d7beb30240046a3817addfea6ad8c58.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3d7beb30240046a3817addfea6ad8c58.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c38d54aab2394152aad7663dc82197d6.html" target="element"> Rollback Changes </a> </td>
											    <td> <a href="../elements/id-c38d54aab2394152aad7663dc82197d6.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
											    <td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5683367f05564d75a0eb4ec8ff54cbe8.html" target="element"> Creaet / Update Secondary Stack </a> </td>
											    <td> <a href="../elements/id-5683367f05564d75a0eb4ec8ff54cbe8.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d0c08752dc94d438a4ddbd30c3b5b58.html" target="element"> Creaet / Update Primary Stack </a> </td>
											    <td> <a href="../elements/id-0d0c08752dc94d438a4ddbd30c3b5b58.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd4926f3204a466cae33516a8ce92b54.html" target="element"> AWS CloudFormation (stage stack) </a> </td>
											    <td> <a href="../elements/id-fd4926f3204a466cae33516a8ce92b54.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfd8dad3ab1441d1ae5d162e62e2265c.html" target="element"> Update Stage </a> </td>
											    <td> <a href="../elements/id-dfd8dad3ab1441d1ae5d162e62e2265c.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d2a20d0de2e40ccbb36489c888a5c1d.html" target="element"> Drift Detection </a> </td>
											    <td> <a href="../elements/id-7d2a20d0de2e40ccbb36489c888a5c1d.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b2536562417489c89e934d275ff60d5.html" target="element"> Approval </a> </td>
											    <td> <a href="../elements/id-6b2536562417489c89e934d275ff60d5.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdc84ca28dfd4996a9e1eae230165638.html" target="element"> Terminate Stage </a> </td>
											    <td> <a href="../elements/id-cdc84ca28dfd4996a9e1eae230165638.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec37188b632a4fb7a74cda01b708fb4c.html" target="element"> Put Artifact </a> </td>
											    <td> <a href="../elements/id-ec37188b632a4fb7a74cda01b708fb4c.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-026b23486aef4d558926aee8d2c66a3b.html" target="element"> AWS CloudFormation (primary stack) </a> </td>
											    <td> <a href="../elements/id-026b23486aef4d558926aee8d2c66a3b.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f4177c9869c41e9af66d296c7b0c835.html" target="element"> AWS CloudFormation (secondary stack) </a> </td>
											    <td> <a href="../elements/id-9f4177c9869c41e9af66d296c7b0c835.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bed47b3369104b37923aff26e00967e2.html" target="element"> cfn-nag validation </a> </td>
											    <td> <a href="../elements/id-bed47b3369104b37923aff26e00967e2.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e713a9135f44af499a2bafef723b7ca.html" target="element"> cfn-lint validation </a> </td>
											    <td> <a href="../elements/id-2e713a9135f44af499a2bafef723b7ca.html" target="element" class="i18n-elementtype-TechnologyProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a6f2275052841eeb92b3cc8ec44e0c8.html" target="element"> AWS Lambda </a> </td>
											    <td> <a href="../elements/id-7a6f2275052841eeb92b3cc8ec44e0c8.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-858d63f908c14602be8248649651a931.html" target="element"> Amazon S3 </a> </td>
											    <td> <a href="../elements/id-858d63f908c14602be8248649651a931.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82d5e27166a2428399477959673e96c7.html" target="element"> AWS Lambda </a> </td>
											    <td> <a href="../elements/id-82d5e27166a2428399477959673e96c7.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0728032345b34128a40d4c364df27811.html" target="element"> AWS CodeBuild </a> </td>
											    <td> <a href="../elements/id-0728032345b34128a40d4c364df27811.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c50431cc63f84e33b970c1816a62de67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c50431cc63f84e33b970c1816a62de67.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a69e2ecdb5634dd4977b642050a3f4bf.html" target="element"> GitHub </a> </td>
																		<td> <a href="../elements/id-453dd18e022f4a05ae18a52172c3d400.html" target="element"> AWS CloudFormation Template </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e326dc351b844d4099a34360e6568bd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e326dc351b844d4099a34360e6568bd4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b34fdbda47d44bea3cde6cc02e2aee8.html" target="element"> Store Artifact </a> </td>
																		<td> <a href="../elements/id-453dd18e022f4a05ae18a52172c3d400.html" target="element"> AWS CloudFormation Template </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c5619e9028941c4ac56c9a2428f8812.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c5619e9028941c4ac56c9a2428f8812.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b34fdbda47d44bea3cde6cc02e2aee8.html" target="element"> Store Artifact </a> </td>
																		<td> <a href="../elements/id-39243ff4e41e4c038642769bde663e3e.html" target="element"> Initialize Stage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-45bf2621b17f46beb1f1b22c2c6b2345.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45bf2621b17f46beb1f1b22c2c6b2345.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-970f619242d94938a37046310be51de3.html" target="element"> Create Stage Artifact </a> </td>
																		<td> <a href="../elements/id-db5984b5ec7b4b4aaf75e3399aee817c.html" target="element"> Deploy Stage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fd2759f32ad147978702bf041ea7cbf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd2759f32ad147978702bf041ea7cbf5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39243ff4e41e4c038642769bde663e3e.html" target="element"> Initialize Stage </a> </td>
																		<td> <a href="../elements/id-970f619242d94938a37046310be51de3.html" target="element"> Create Stage Artifact </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d5dc493462842abb88d6467007b5543.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d5dc493462842abb88d6467007b5543.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39243ff4e41e4c038642769bde663e3e.html" target="element"> Initialize Stage </a> </td>
																		<td> <a href="../elements/id-db5984b5ec7b4b4aaf75e3399aee817c.html" target="element"> Deploy Stage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-870a817e072b4018aa594d7de9dc8a5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-870a817e072b4018aa594d7de9dc8a5d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39243ff4e41e4c038642769bde663e3e.html" target="element"> Initialize Stage </a> </td>
																		<td> <a href="../elements/id-097f20c296424764885a67060484dfcc.html" target="element"> Check Changes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-105c29d9466f443690df9b02988839e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-105c29d9466f443690df9b02988839e7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39243ff4e41e4c038642769bde663e3e.html" target="element"> Initialize Stage </a> </td>
																		<td> <a href="../elements/id-fd4926f3204a466cae33516a8ce92b54.html" target="element"> AWS CloudFormation (stage stack) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-84b4e32f48b84dcd93b8ab3b8e45a0e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84b4e32f48b84dcd93b8ab3b8e45a0e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-097f20c296424764885a67060484dfcc.html" target="element"> Check Changes </a> </td>
																		<td> <a href="../elements/id-717c56d13144489a8921c99c6766af4e.html" target="element"> Stage Change Set </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5feae4f3cf3042bd944905b47ba9fb71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5feae4f3cf3042bd944905b47ba9fb71.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-097f20c296424764885a67060484dfcc.html" target="element"> Check Changes </a> </td>
																		<td> <a href="../elements/id-8ed2b648f4c049568732f0848ff9fac7.html" target="element"> Check Change Set </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f09463ab476d40589cdeb69e9ccdcb6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f09463ab476d40589cdeb69e9ccdcb6f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-097f20c296424764885a67060484dfcc.html" target="element"> Check Changes </a> </td>
																		<td> <a href="../elements/id-f9efb587c0e14bec9cbd174b27733fc3.html" target="element"> Valudate Templates </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5a30d5a1f479437d83c830db17d4799c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a30d5a1f479437d83c830db17d4799c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-717c56d13144489a8921c99c6766af4e.html" target="element"> Stage Change Set </a> </td>
																		<td> <a href="../elements/id-8ed2b648f4c049568732f0848ff9fac7.html" target="element"> Check Change Set </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e1dafe7bcbae4b519c95693004b0c132.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1dafe7bcbae4b519c95693004b0c132.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9efb587c0e14bec9cbd174b27733fc3.html" target="element"> Valudate Templates </a> </td>
																		<td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5fb295479b3b421ba217d6878645990f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fb295479b3b421ba217d6878645990f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9efb587c0e14bec9cbd174b27733fc3.html" target="element"> Valudate Templates </a> </td>
																		<td> <a href="../elements/id-bed47b3369104b37923aff26e00967e2.html" target="element"> cfn-nag validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ac0f3f76a0a48349d61e11ed370aff4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ac0f3f76a0a48349d61e11ed370aff4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9efb587c0e14bec9cbd174b27733fc3.html" target="element"> Valudate Templates </a> </td>
																		<td> <a href="../elements/id-2e713a9135f44af499a2bafef723b7ca.html" target="element"> cfn-lint validation </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-bb298bf0b5cc4d519090126b6acce84d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb298bf0b5cc4d519090126b6acce84d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c38d54aab2394152aad7663dc82197d6.html" target="element"> Rollback Changes </a> </td>
																		<td> <a href="../elements/id-fd4926f3204a466cae33516a8ce92b54.html" target="element"> AWS CloudFormation (stage stack) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7014014174d5406f8e85b63595819382.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7014014174d5406f8e85b63595819382.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
																		<td> <a href="../elements/id-5683367f05564d75a0eb4ec8ff54cbe8.html" target="element"> Creaet / Update Secondary Stack </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bb55590592548caa45f58efb863a9cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bb55590592548caa45f58efb863a9cd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
																		<td> <a href="../elements/id-dfd8dad3ab1441d1ae5d162e62e2265c.html" target="element"> Update Stage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-698cd3bf80dd47559af3fb1848736eb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698cd3bf80dd47559af3fb1848736eb9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
																		<td> <a href="../elements/id-7d2a20d0de2e40ccbb36489c888a5c1d.html" target="element"> Drift Detection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75799017750148918f23c56e35d49908.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75799017750148918f23c56e35d49908.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
																		<td> <a href="../elements/id-6b2536562417489c89e934d275ff60d5.html" target="element"> Approval </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee1f79e0e3b9401ca3f13e5289add280.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee1f79e0e3b9401ca3f13e5289add280.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
																		<td> <a href="../elements/id-cdc84ca28dfd4996a9e1eae230165638.html" target="element"> Terminate Stage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f4212997d9f45fda64df9d631264b0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f4212997d9f45fda64df9d631264b0a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3643e3cce362423d8d02dc43cf3da5aa.html" target="element"> Stage Stack Environment </a> </td>
																		<td> <a href="../elements/id-ec37188b632a4fb7a74cda01b708fb4c.html" target="element"> Put Artifact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f69e01aba47d4785a1860aa71e8084a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f69e01aba47d4785a1860aa71e8084a2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5683367f05564d75a0eb4ec8ff54cbe8.html" target="element"> Creaet / Update Secondary Stack </a> </td>
																		<td> <a href="../elements/id-0d0c08752dc94d438a4ddbd30c3b5b58.html" target="element"> Creaet / Update Primary Stack </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdd9de3c97cf49a6804d321827cd802f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdd9de3c97cf49a6804d321827cd802f.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5683367f05564d75a0eb4ec8ff54cbe8.html" target="element"> Creaet / Update Secondary Stack </a> </td>
																		<td> <a href="../elements/id-9f4177c9869c41e9af66d296c7b0c835.html" target="element"> AWS CloudFormation (secondary stack) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7df1029ea87b46599fee65befb44d421.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7df1029ea87b46599fee65befb44d421.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d0c08752dc94d438a4ddbd30c3b5b58.html" target="element"> Creaet / Update Primary Stack </a> </td>
																		<td> <a href="../elements/id-026b23486aef4d558926aee8d2c66a3b.html" target="element"> AWS CloudFormation (primary stack) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2e3f33d8870745f697d8715d53d8804f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e3f33d8870745f697d8715d53d8804f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dfd8dad3ab1441d1ae5d162e62e2265c.html" target="element"> Update Stage </a> </td>
																		<td> <a href="../elements/id-7d2a20d0de2e40ccbb36489c888a5c1d.html" target="element"> Drift Detection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf3a323393ff46a5ab66746c125761f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf3a323393ff46a5ab66746c125761f0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d2a20d0de2e40ccbb36489c888a5c1d.html" target="element"> Drift Detection </a> </td>
																		<td> <a href="../elements/id-6b2536562417489c89e934d275ff60d5.html" target="element"> Approval </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-695e59809a45470c89a39957fffb52e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-695e59809a45470c89a39957fffb52e6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6b2536562417489c89e934d275ff60d5.html" target="element"> Approval </a> </td>
																		<td> <a href="../elements/id-cdc84ca28dfd4996a9e1eae230165638.html" target="element"> Terminate Stage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-58f8193d869748de83841361c1ab7bef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58f8193d869748de83841361c1ab7bef.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdc84ca28dfd4996a9e1eae230165638.html" target="element"> Terminate Stage </a> </td>
																		<td> <a href="../elements/id-ec37188b632a4fb7a74cda01b708fb4c.html" target="element"> Put Artifact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-78deb13325d14055a7fc03e799cc5885.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78deb13325d14055a7fc03e799cc5885.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bed47b3369104b37923aff26e00967e2.html" target="element"> cfn-nag validation </a> </td>
																		<td> <a href="../elements/id-2e713a9135f44af499a2bafef723b7ca.html" target="element"> cfn-lint validation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e2e027cb846841f3ab6590c652caeb83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2e027cb846841f3ab6590c652caeb83.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a6f2275052841eeb92b3cc8ec44e0c8.html" target="element"> AWS Lambda </a> </td>
																		<td> <a href="../elements/id-c38d54aab2394152aad7663dc82197d6.html" target="element"> Rollback Changes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1883328c43134120ab3c3f49ec59605a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1883328c43134120ab3c3f49ec59605a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-858d63f908c14602be8248649651a931.html" target="element"> Amazon S3 </a> </td>
																		<td> <a href="../elements/id-8b34fdbda47d44bea3cde6cc02e2aee8.html" target="element"> Store Artifact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c8b42e7ce4f44bc28cf6d2a231273269.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8b42e7ce4f44bc28cf6d2a231273269.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-82d5e27166a2428399477959673e96c7.html" target="element"> AWS Lambda </a> </td>
																		<td> <a href="../elements/id-970f619242d94938a37046310be51de3.html" target="element"> Create Stage Artifact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7bec4acac04145768c3af3203615907f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bec4acac04145768c3af3203615907f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0728032345b34128a40d4c364df27811.html" target="element"> AWS CodeBuild </a> </td>
																		<td> <a href="../elements/id-bed47b3369104b37923aff26e00967e2.html" target="element"> cfn-nag validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ec20153877b48f5852e00b425509837.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ec20153877b48f5852e00b425509837.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0728032345b34128a40d4c364df27811.html" target="element"> AWS CodeBuild </a> </td>
																		<td> <a href="../elements/id-2e713a9135f44af499a2bafef723b7ca.html" target="element"> cfn-lint validation </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>