<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>AWSサンプル (specialization)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>AWS&#12469;&#12531;&#12503;&#12523; (specialization)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ba3ca4099e374477becf430b00829acc.png" alt="AWSサンプル (specialization)" usemap="#id-ba3ca4099e374477becf430b00829accmap"/>
			   <map name="id-ba3ca4099e374477becf430b00829accmap">
				  				<area shape="rect" coords="970,526,1042,587" href="../elements/id-760ddf8ec9124120bd3dc355ed40b4b8.html"  target="element">

				  		<area shape="rect" coords="910,478,1090,611" href="../elements/id-3bc3bb843bf04c12b2b1444cf3996d8b.html"  target="element">
				  		<area shape="rect" coords="370,10,490,89" href="../elements/id-d5f11d2532b9466d8eb3d4db8f1f97ec.html"  target="element">
				  				<area shape="rect" coords="370,154,467,215" href="../elements/id-6ef1ec05fbcf4efb80812a963be53e88.html"  target="element">
				  				<area shape="rect" coords="178,154,275,215" href="../elements/id-5dbb1ae0ba524de9a8a4c1003ff39021.html"  target="element">
				  						<area shape="rect" coords="586,262,706,323" href="../elements/id-536e4dadce9c483db4c138a0c46722a5.html"  target="element">
				  								<area shape="rect" coords="754,502,830,584" href="../elements/id-ddebf833cca74ccbae34ea218650e7c3.html"  target="element">
				  								<area shape="rect" coords="382,370,467,443" href="../elements/id-90d8e7aaaf894183a4f03183825df225.html"  target="element">
				  								<area shape="rect" coords="382,454,467,539" href="../elements/id-81afb4debc0c4dca86ddcd25b672ea43.html"  target="element">
				  												<area shape="rect" coords="178,658,275,731" href="../elements/id-8f73b99bd1134f94b2719fdcd2efceb4.html"  target="element">
				  												<area shape="rect" coords="178,562,275,629" href="../elements/id-4774a7113f004d0d883090fb6f940bef.html"  target="element">

				  										<area shape="rect" coords="130,538,323,743" href="../elements/id-0ec9bf457e524461a8cb19ceba464753.html"  target="element">
				  										<area shape="rect" coords="130,454,323,527" href="../elements/id-c4520e6135dd4ef29e72fc923cde643e.html"  target="element">

				  								<area shape="rect" coords="106,418,347,755" href="../elements/id-b7005728a8c648df8345341a83463526.html"  target="element">
				  												<area shape="rect" coords="586,562,683,623" href="../elements/id-6974dfc2bde94b2382a6ebb37632f79f.html"  target="element">
				  												<area shape="rect" coords="586,646,683,719" href="../elements/id-dd4a4b8ed28345938b461a730592c196.html"  target="element">

				  										<area shape="rect" coords="538,538,731,731" href="../elements/id-3a0d2886c5984b9eaad32ffe3c68a5ca.html"  target="element">
				  										<area shape="rect" coords="538,454,731,527" href="../elements/id-a32f9fbe8c5f4456a655d0d879380bf9.html"  target="element">

				  								<area shape="rect" coords="514,418,743,755" href="../elements/id-980c40f46eec452daa8d51e7905d3d08.html"  target="element">

				  						<area shape="rect" coords="70,334,839,779" href="../elements/id-a430c32ee44c4c09803f068a945aea72.html"  target="element">

				  				<area shape="rect" coords="46,226,863,803" href="../elements/id-fea93912cfad48768893f07f5277fb12.html"  target="element">

				  		<area shape="rect" coords="10,118,887,827" href="../elements/id-d56f761ba19b45ef86e7b8a3054f5125.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d56f761ba19b45ef86e7b8a3054f5125.html" target="element"> AWS Cloud </a> </td>
											    <td> <a href="../elements/id-d56f761ba19b45ef86e7b8a3054f5125.html" target="element" class="i18n-elementtype-Grouping">
											    	(AWS Cloud)
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fea93912cfad48768893f07f5277fb12.html" target="element"> Region (Tokyo) </a> </td>
													    <td> <a href="../elements/id-fea93912cfad48768893f07f5277fb12.html" target="element" class="i18n-elementtype-Grouping">
													    	(AWS Region)
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
															    <td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element" class="i18n-elementtype-CommunicationNetwork">
															    	(Amazon VPC)
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-980c40f46eec452daa8d51e7905d3d08.html" target="element"> Availability Zone B </a> </td>
																	    <td> <a href="../elements/id-980c40f46eec452daa8d51e7905d3d08.html" target="element" class="i18n-elementtype-Grouping">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-a32f9fbe8c5f4456a655d0d879380bf9.html" target="element"> Public Subnet B </a> </td>
																			    <td> <a href="../elements/id-a32f9fbe8c5f4456a655d0d879380bf9.html" target="element" class="i18n-elementtype-CommunicationNetwork">
																			    	(Public Subnet)
																			    </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/id-3a0d2886c5984b9eaad32ffe3c68a5ca.html" target="element"> Private Subnet B </a> </td>
																			    <td> <a href="../elements/id-3a0d2886c5984b9eaad32ffe3c68a5ca.html" target="element" class="i18n-elementtype-CommunicationNetwork">
																			    	(Private Subnet)
																			    </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/id-dd4a4b8ed28345938b461a730592c196.html" target="element"> Amazon RDS (Secondary) </a> </td>
																					    <td> <a href="../elements/id-dd4a4b8ed28345938b461a730592c196.html" target="element" class="i18n-elementtype-SystemSoftware">
																					    	(Amazon RDS)
																					    </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/id-6974dfc2bde94b2382a6ebb37632f79f.html" target="element"> Amazon EC2 </a> </td>
																					    <td> <a href="../elements/id-6974dfc2bde94b2382a6ebb37632f79f.html" target="element" class="i18n-elementtype-SystemSoftware">
																					    	(Amazon EC2)
																					    </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/id-b7005728a8c648df8345341a83463526.html" target="element"> Availability Zone A </a> </td>
																	    <td> <a href="../elements/id-b7005728a8c648df8345341a83463526.html" target="element" class="i18n-elementtype-Grouping">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-c4520e6135dd4ef29e72fc923cde643e.html" target="element"> Public Subnet A </a> </td>
																			    <td> <a href="../elements/id-c4520e6135dd4ef29e72fc923cde643e.html" target="element" class="i18n-elementtype-CommunicationNetwork">
																			    	(Public Subnet)
																			    </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/id-0ec9bf457e524461a8cb19ceba464753.html" target="element"> Private Subnet A </a> </td>
																			    <td> <a href="../elements/id-0ec9bf457e524461a8cb19ceba464753.html" target="element" class="i18n-elementtype-CommunicationNetwork">
																			    	(Private Subnet)
																			    </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/id-4774a7113f004d0d883090fb6f940bef.html" target="element"> Amazon EC2 </a> </td>
																					    <td> <a href="../elements/id-4774a7113f004d0d883090fb6f940bef.html" target="element" class="i18n-elementtype-SystemSoftware">
																					    	(Amazon EC2)
																					    </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/id-8f73b99bd1134f94b2719fdcd2efceb4.html" target="element"> Amazon RDS (Primary) </a> </td>
																					    <td> <a href="../elements/id-8f73b99bd1134f94b2719fdcd2efceb4.html" target="element" class="i18n-elementtype-SystemSoftware">
																					    	(Amazon RDS)
																					    </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/id-81afb4debc0c4dca86ddcd25b672ea43.html" target="element"> Elastic Load Balancing </a> </td>
																	    <td> <a href="../elements/id-81afb4debc0c4dca86ddcd25b672ea43.html" target="element" class="i18n-elementtype-TechnologyInterface">
																	    	(ELB)
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-90d8e7aaaf894183a4f03183825df225.html" target="element"> Internet Gateway </a> </td>
																	    <td> <a href="../elements/id-90d8e7aaaf894183a4f03183825df225.html" target="element" class="i18n-elementtype-TechnologyInterface">
																	    	(Internet Gateway)
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-ddebf833cca74ccbae34ea218650e7c3.html" target="element"> VPN Gateway </a> </td>
																	    <td> <a href="../elements/id-ddebf833cca74ccbae34ea218650e7c3.html" target="element" class="i18n-elementtype-TechnologyInterface">
																	    	(VPN GW)
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-536e4dadce9c483db4c138a0c46722a5.html" target="element"> Amazon S3 </a> </td>
															    <td> <a href="../elements/id-536e4dadce9c483db4c138a0c46722a5.html" target="element" class="i18n-elementtype-SystemSoftware">
															    	(Amazon S3)
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-5dbb1ae0ba524de9a8a4c1003ff39021.html" target="element"> Route 53 </a> </td>
													    <td> <a href="../elements/id-5dbb1ae0ba524de9a8a4c1003ff39021.html" target="element" class="i18n-elementtype-TechnologyInterface">
													    	(Amazon Route 53)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6ef1ec05fbcf4efb80812a963be53e88.html" target="element"> CloudFront </a> </td>
													    <td> <a href="../elements/id-6ef1ec05fbcf4efb80812a963be53e88.html" target="element" class="i18n-elementtype-TechnologyInterface">
													    	(Amazon CloudFront)
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d5f11d2532b9466d8eb3d4db8f1f97ec.html" target="element"> User Devices </a> </td>
											    <td> <a href="../elements/id-d5f11d2532b9466d8eb3d4db8f1f97ec.html" target="element" class="i18n-elementtype-Device">
											    	(client PC)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bc3bb843bf04c12b2b1444cf3996d8b.html" target="element"> Corporate Data Center </a> </td>
											    <td> <a href="../elements/id-3bc3bb843bf04c12b2b1444cf3996d8b.html" target="element" class="i18n-elementtype-Facility">
											    	(Corporate DC)
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-760ddf8ec9124120bd3dc355ed40b4b8.html" target="element"> Server </a> </td>
													    <td> <a href="../elements/id-760ddf8ec9124120bd3dc355ed40b4b8.html" target="element" class="i18n-elementtype-Node">
													    	(Server)
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5162dd60a20045dbbca4b6830bd90f76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5162dd60a20045dbbca4b6830bd90f76.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d56f761ba19b45ef86e7b8a3054f5125.html" target="element"> AWS Cloud </a> </td>
																		<td> <a href="../elements/id-fea93912cfad48768893f07f5277fb12.html" target="element"> Region (Tokyo) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1b3aeecffac345779aa92966d55c4c8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b3aeecffac345779aa92966d55c4c8c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d56f761ba19b45ef86e7b8a3054f5125.html" target="element"> AWS Cloud </a> </td>
																		<td> <a href="../elements/id-5dbb1ae0ba524de9a8a4c1003ff39021.html" target="element"> Route 53 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2787a2bc17214107b1534ea5b1f492e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2787a2bc17214107b1534ea5b1f492e8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d56f761ba19b45ef86e7b8a3054f5125.html" target="element"> AWS Cloud </a> </td>
																		<td> <a href="../elements/id-6ef1ec05fbcf4efb80812a963be53e88.html" target="element"> CloudFront </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-21c8528502724dbaaef7cc0258891ff3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21c8528502724dbaaef7cc0258891ff3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fea93912cfad48768893f07f5277fb12.html" target="element"> Region (Tokyo) </a> </td>
																				<td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7fe4fbd910804c11ae976d0a9244d9bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7fe4fbd910804c11ae976d0a9244d9bd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fea93912cfad48768893f07f5277fb12.html" target="element"> Region (Tokyo) </a> </td>
																				<td> <a href="../elements/id-536e4dadce9c483db4c138a0c46722a5.html" target="element"> Amazon S3 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e34cc5117ba94883b23e1331f4c31bed.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e34cc5117ba94883b23e1331f4c31bed.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
																						<td> <a href="../elements/id-980c40f46eec452daa8d51e7905d3d08.html" target="element"> Availability Zone B </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-078c96d71da94f2f967de6dfe62609e3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-078c96d71da94f2f967de6dfe62609e3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
																						<td> <a href="../elements/id-b7005728a8c648df8345341a83463526.html" target="element"> Availability Zone A </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-025a8eb82e6142989017a85e04dbaa55.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-025a8eb82e6142989017a85e04dbaa55.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
																						<td> <a href="../elements/id-81afb4debc0c4dca86ddcd25b672ea43.html" target="element"> Elastic Load Balancing </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-6b4b11fead6b48399bb67a6142d4e23f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6b4b11fead6b48399bb67a6142d4e23f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
																						<td> <a href="../elements/id-90d8e7aaaf894183a4f03183825df225.html" target="element"> Internet Gateway </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-bab880c913f84148b77b5d9bfcc61981.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-bab880c913f84148b77b5d9bfcc61981.html" target="element" class="i18n-elementtype-AggregationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
																						<td> <a href="../elements/id-ddebf833cca74ccbae34ea218650e7c3.html" target="element"> VPN Gateway </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-f443b959148440af8623395332b4750b.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-f443b959148440af8623395332b4750b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-980c40f46eec452daa8d51e7905d3d08.html" target="element"> Availability Zone B </a> </td>
																								<td> <a href="../elements/id-a430c32ee44c4c09803f068a945aea72.html" target="element"> Amazon VPC </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-146222d7ca5645f29db0ca59334e9144.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-146222d7ca5645f29db0ca59334e9144.html" target="element" class="i18n-elementtype-AggregationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-980c40f46eec452daa8d51e7905d3d08.html" target="element"> Availability Zone B </a> </td>
																								<td> <a href="../elements/id-a32f9fbe8c5f4456a655d0d879380bf9.html" target="element"> Public Subnet B </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-95f527ba93124f699bedc4208c46b9dc.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-95f527ba93124f699bedc4208c46b9dc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-980c40f46eec452daa8d51e7905d3d08.html" target="element"> Availability Zone B </a> </td>
																								<td> <a href="../elements/id-3a0d2886c5984b9eaad32ffe3c68a5ca.html" target="element"> Private Subnet B </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/id-783bc08d111443d2ba2f6ce7929438c1.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-783bc08d111443d2ba2f6ce7929438c1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-3a0d2886c5984b9eaad32ffe3c68a5ca.html" target="element"> Private Subnet B </a> </td>
																										<td> <a href="../elements/id-dd4a4b8ed28345938b461a730592c196.html" target="element"> Amazon RDS (Secondary) </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/id-80e94ba7b8434ebfbe858fdd7cf75fb0.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-80e94ba7b8434ebfbe858fdd7cf75fb0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-3a0d2886c5984b9eaad32ffe3c68a5ca.html" target="element"> Private Subnet B </a> </td>
																										<td> <a href="../elements/id-6974dfc2bde94b2382a6ebb37632f79f.html" target="element"> Amazon EC2 </a> </td>
																									</tr>

																											<tr>
																												<td> <a href="../elements/id-f22f8b6cbd24431d92a3a365e24c909b.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-f22f8b6cbd24431d92a3a365e24c909b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-6974dfc2bde94b2382a6ebb37632f79f.html" target="element"> Amazon EC2 </a> </td>
																												<td> <a href="../elements/id-8f73b99bd1134f94b2719fdcd2efceb4.html" target="element"> Amazon RDS (Primary) </a> </td>
																											</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/id-06912f28d8a4475fb254bec4156a972d.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-06912f28d8a4475fb254bec4156a972d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-b7005728a8c648df8345341a83463526.html" target="element"> Availability Zone A </a> </td>
																								<td> <a href="../elements/id-c4520e6135dd4ef29e72fc923cde643e.html" target="element"> Public Subnet A </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-6cd61add765d4047a4024fd2eb848a60.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-6cd61add765d4047a4024fd2eb848a60.html" target="element" class="i18n-elementtype-AggregationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-b7005728a8c648df8345341a83463526.html" target="element"> Availability Zone A </a> </td>
																								<td> <a href="../elements/id-0ec9bf457e524461a8cb19ceba464753.html" target="element"> Private Subnet A </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/id-fd900dac9ba042cdb42f483ac9911e78.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-fd900dac9ba042cdb42f483ac9911e78.html" target="element" class="i18n-elementtype-AggregationRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-0ec9bf457e524461a8cb19ceba464753.html" target="element"> Private Subnet A </a> </td>
																										<td> <a href="../elements/id-4774a7113f004d0d883090fb6f940bef.html" target="element"> Amazon EC2 </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/id-40ca3b5445584d99bea2911262b567b1.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-40ca3b5445584d99bea2911262b567b1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-0ec9bf457e524461a8cb19ceba464753.html" target="element"> Private Subnet A </a> </td>
																										<td> <a href="../elements/id-8f73b99bd1134f94b2719fdcd2efceb4.html" target="element"> Amazon RDS (Primary) </a> </td>
																									</tr>

																											<tr>
																												<td> <a href="../elements/id-6733483b72df4a13854e73b71b86ec52.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-6733483b72df4a13854e73b71b86ec52.html" target="element" class="i18n-elementtype-AssociationRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-4774a7113f004d0d883090fb6f940bef.html" target="element"> Amazon EC2 </a> </td>
																												<td> <a href="../elements/id-8f73b99bd1134f94b2719fdcd2efceb4.html" target="element"> Amazon RDS (Primary) </a> </td>
																											</tr>

																											<tr>
																												<td> <a href="../elements/id-1f7e3de2e98a4e58a032f75e9028c0e8.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-1f7e3de2e98a4e58a032f75e9028c0e8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-8f73b99bd1134f94b2719fdcd2efceb4.html" target="element"> Amazon RDS (Primary) </a> </td>
																												<td> <a href="../elements/id-dd4a4b8ed28345938b461a730592c196.html" target="element"> Amazon RDS (Secondary) </a> </td>
																											</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/id-05c79ad659bd41cfba279eb8c97ddb8a.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-05c79ad659bd41cfba279eb8c97ddb8a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-81afb4debc0c4dca86ddcd25b672ea43.html" target="element"> Elastic Load Balancing </a> </td>
																								<td> <a href="../elements/id-4774a7113f004d0d883090fb6f940bef.html" target="element"> Amazon EC2 </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-a2f36653de564c8fb42d23af9cbc7bf6.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-a2f36653de564c8fb42d23af9cbc7bf6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-81afb4debc0c4dca86ddcd25b672ea43.html" target="element"> Elastic Load Balancing </a> </td>
																								<td> <a href="../elements/id-3a0d2886c5984b9eaad32ffe3c68a5ca.html" target="element"> Private Subnet B </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/id-6914fe7ef4864073b27ca4e2f8c4f095.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-6914fe7ef4864073b27ca4e2f8c4f095.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-90d8e7aaaf894183a4f03183825df225.html" target="element"> Internet Gateway </a> </td>
																								<td> <a href="../elements/id-81afb4debc0c4dca86ddcd25b672ea43.html" target="element"> Elastic Load Balancing </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-be0f1626fe084c72847fbff99ec10d16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-be0f1626fe084c72847fbff99ec10d16.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6ef1ec05fbcf4efb80812a963be53e88.html" target="element"> CloudFront </a> </td>
																				<td> <a href="../elements/id-90d8e7aaaf894183a4f03183825df225.html" target="element"> Internet Gateway </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b1997200a95448deb8ca7362e938935a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1997200a95448deb8ca7362e938935a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5f11d2532b9466d8eb3d4db8f1f97ec.html" target="element"> User Devices </a> </td>
																		<td> <a href="../elements/id-6ef1ec05fbcf4efb80812a963be53e88.html" target="element"> CloudFront </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1250157956fd4702a5b1d9a42a39a1b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1250157956fd4702a5b1d9a42a39a1b1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5f11d2532b9466d8eb3d4db8f1f97ec.html" target="element"> User Devices </a> </td>
																		<td> <a href="../elements/id-5dbb1ae0ba524de9a8a4c1003ff39021.html" target="element"> Route 53 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c84f0454fbb64a7684e6f06861b44f3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c84f0454fbb64a7684e6f06861b44f3c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5f11d2532b9466d8eb3d4db8f1f97ec.html" target="element"> User Devices </a> </td>
																		<td> <a href="../elements/id-536e4dadce9c483db4c138a0c46722a5.html" target="element"> Amazon S3 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1b9514b42454b01a8c2c07eeb63b3b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1b9514b42454b01a8c2c07eeb63b3b6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3bc3bb843bf04c12b2b1444cf3996d8b.html" target="element"> Corporate Data Center </a> </td>
																		<td> <a href="../elements/id-760ddf8ec9124120bd3dc355ed40b4b8.html" target="element"> Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-96f9cc094ae04b008e80bdfdf6c76d40.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96f9cc094ae04b008e80bdfdf6c76d40.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-760ddf8ec9124120bd3dc355ed40b4b8.html" target="element"> Server </a> </td>
																				<td> <a href="../elements/id-ddebf833cca74ccbae34ea218650e7c3.html" target="element"> VPN Gateway </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>